.about-img {
  width: 95%;
  height: 100%;
}

.about {
  margin: 50px;
  padding-top: 50px;
}

.card-body {
  border: #fff;
}

.card-title {
  margin-bottom: 20px;
  font-weight: 700;
}

.card-mute {
  padding: 40px;
  background: #900C3F;
  margin-bottom: 10px;
}
.card-text small{
  color: #fff !important;
}

.get-buttn {
  margin-top: 30px;
  
}
.get-buttn button {
  color: #fff;
  background: #0E5E6F;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 22px;
}

.get-buttn button i {
  animation-name: trin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes trin {

  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  20%,
  32%,
  44%,
  56%,
  68% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  23%,
  35%,
  47%,
  59%,
  71% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  26%,
  38%,
  50%,
  62%,
  74% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  29%,
  41%,
  53%,
  65%,
  77% {
    transform: rotate3d(0, 0, 1, -15deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

}

.card-text {
  margin-top: 10px;
  margin-bottom: 20px;
}



@media (max-width: 780px) {
  .get-buttn {
    margin-top: 10px;
  }
}