.getintouch{
    background-image: linear-gradient(#235c75, #0E5E6F);
    margin-bottom: 40px;
    padding-top: 40px;
    
}


.getintouch h2{
    /* display: flex; */
    text-align: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}
.injuries{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.injuries img{
    width: 100% !important;
    vertical-align: middle !important;
    border-style: none;
    align-items: center;
    text-align: center;
    justify-content: center;
   
    /* height: 150px; */
}
.item-injure{
    background-color: #0E5E6F;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 3rem 0 5rem;
    
}
.item{
    padding: 3rem;
    width: 390px;
    /* height: 200px; */
    margin: -1px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    /* overflow: hidden; */
    /* transition: 300ms ease-out; */
    color: #fff;
}
.item strong {
    font-size: 35px;
    font-weight: 700;
}
.item p{
    font-size: 20px;
}
@media screen and (max-width: 780px) {
    .getintouch h2{
        font-size: 40px;
    }
}