.over{
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-style: italic;
}
.settle{
  color: black;
  font-size: 25px;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  
}

@media screen and (max-width: 780px) {
  .over{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
  }
  .settle{
    font-size: 15px;
    line-height: 1;
  }
  .align-top{
    width: 200px;
  }
}