.blog {
    padding: 50px;
    background-color: rgb(250, 249, 249);
    text-align: center;
}
.blog-box{
    text-align: center;
    justify-content: center;
    margin-left: 70px;
}

.blog h1 {
    padding: 20px;
    font-weight: 700;
}

.get-buton button {
    background-color: rgb(54, 33, 173);
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}

.card-blog {
    position: relative;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(203, 200, 200, 0.5);
    transition: 0.3s;
    padding: 30px 15px;
    background: #fff;
   
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-160px);
    border-radius: 5px;
}

.imgbox img {
    width: 100%;
}

.content {
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-180px);
    opacity: 1;
    transition: 0.3s;
    
}

.content h2 {
    font-size: 18px;
    font-weight: 700;
}

.content p {
    font-size: 15px;
}

.blog-box {
    margin-top: 140px;
    margin-bottom: 50px;
    margin-left: 0;
    
}

@media screen and (max-width: 780px) {
    .card-blog{
        margin-bottom: 150px;
        padding-left: 0;
        width: 300px;
    }
    .blog-box{
        text-align: center;
        margin-left: 0;
    }
    .get-buton{
        margin-top: -90px;
    }
    .content{
        transform: translateY(-200px);
    }
}