.weare{
    font-weight: 700;
}
.privacy{
    margin-top: 20px;
    margin-bottom: 20px;
}
.privacy h2{
font-weight: 700;
}
.privacy p a{
    text-decoration: none;
    color: rgb(54, 33, 173);
}
.privacy p a:hover{
    color: #1443fd;
}
.privacy .ptext{
    color: rgb(54, 33, 173);
    font-weight: 600;
}
@media screen and (max-width: 780px) {
    .privacy{
        margin-left: 20px;
        margin-right: 20px;
    }
}