.topfooter{
    text-align: center;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.topfooter img{
    padding-left: 50px;
    padding-right: 50px;
    width: 220px;
}

@media (max-width: 780px){
    .topfooter img{
        width: 150px;
        margin-bottom: 20px;
    }
  }