.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/camp-lejeune.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    padding: 50px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}


.banner-form label input {
    margin-left: 10px;
}

.banner-form label select {
    margin-left: 10px;
}

.article {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 40px;
}

.article h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.article h2 {
    color: #fff;
    font-size: 35px;
    margin-left: 70px;
    margin-bottom: 20px;
}

.article h4 {
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 70px;
    line-height: 35px;
}

.article h3 {
    color: #fff;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.article h5 {
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.article h5 i {
    padding-right: 20px;
}

/* .article h5:hover {
    color: #FD5D14;
} */

.million {
    font-size: 25px;
    font-weight: 700;
    /* color: rgb(54, 33, 173); */
}

.banner-box {
    margin-bottom: 30px;
    margin-top: -50px;
}

.banner-button {
    margin: 30px;
    font-size: 15px;
    margin-left: 70px;
}

button {
    padding: 10px;
    border: #fff;

}

.phone-button {
    background-color: rgb(54, 33, 173);
    color: #fff;
    margin-right: 25px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.phone-button i {
    animation-name: trin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes trin {

    from {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    20%,
    32%,
    44%,
    56%,
    68% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    23%,
    35%,
    47%,
    59%,
    71% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    26%,
    38%,
    50%,
    62%,
    74% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    29%,
    41%,
    53%,
    65%,
    77% {
        transform: rotate3d(0, 0, 1, -15deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

}

.get-button {
    background-color: #fff;
    color: rgb(54, 33, 173);
}

.get-button:hover {
    background-color: rgb(54, 33, 173);
    color: #fff;
}

.apply {
    background: rgb(54, 33, 173);
    font-weight: bold;
    color: #fff;
}
.apply:hover{
    text-decoration: none;
    color: #fff;
}

/* form style */
.banner-form {
    width: 380px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    color: #000000;
    font-weight: 600;
    margin-left: 60px;
    position: relative;
    background: #fff;
}

.form-submit {
    background-color: rgb(54, 33, 173);
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    border-radius: 15px;
    margin-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-submit:hover {
    color: rgb(54, 33, 173);
    background: rgb(197, 193, 193);
}



@media screen and (max-width: 780px) {
    .article {
        margin-left: 20px;
        margin-right: 20px;
    }
    .phone-button{
        width: 140px;
    }
    .get-button{
        width: 140px;
    }

    .article h1 {
        font-size: 30px;
        color: white;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0;
        padding-top: 40px;
    }

    .article h2 {
        font-size: 27px;
        margin-left: 0;
        margin-top: 20px;
    }

    .banner {
        padding: 0;
    }

    .banner-button {
        margin-left: 0;
        margin-right: 0;
        font-size: 10px;
    }

    .article h5 {
        margin-bottom: 0px;
        margin-left: 0;
        font-size: 18px;
        margin-top: 20px;

    }

    .article h4 {
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 8px;

        margin-left: 0;
    }

    .banner-form {
        margin-left: 0px;
        margin-bottom: 60px;
        margin-top: -70px;
        width: 350px;
    }

    .banner-box {
        padding-left: 20px;
        padding-right: 20px;

    }
    .million{
        font-size: 20px;
    }
}

/* @media (max-width: 450px) {

} */