.banner {
    /* background-image: url(../../assets/banner4.jpg); */
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("https://api.asm.skype.com/v1/objects/0-ea-d4-e3a48f5f72572dcdaf37e7abc20bd9c1/views/imgpsh_fullsize_anim");
    background-position: center;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    padding: 50px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}


.banner-form label input {
    margin-left: 10px;
}

.banner-form label select {
    margin-left: 10px;
}

.article {
    margin-top: 100px;
    margin-bottom: 100px;
}

.article h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 0 !important;
}

.article h4 {
    color: #fff;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
}

.banner-button {
    margin: 30px;
    font-size: 15px;
    text-align: center;
    justify-content: center;

}

button {
    padding: 10px;
    border: #fff;

}

.phone-button {
    background-color: #FD5D14;
    color: #fff;
    margin-right: 25px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.phone-button i {
    animation-name: trin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes trin {

    from {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    20%,
    32%,
    44%,
    56%,
    68% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    23%,
    35%,
    47%,
    59%,
    71% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    26%,
    38%,
    50%,
    62%,
    74% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    29%,
    41%,
    53%,
    65%,
    77% {
        transform: rotate3d(0, 0, 1, -15deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

}

.get-button {
    background-color: #fff;
    color: #FD5D14;
}

.get-button:hover {
    background-color: #FD5D14;
    color: #fff;
}

/* form style */
.banner-form {
    width: 350px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-weight: 600;
    margin-left: 80px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
    border: 10px inset #fff;
}

.form-submit {
    background-color: #FD5D14;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 8px;
}

.radio input {
    margin-left: 10px;
}

@media screen and (max-width: 780px) {
    .article h1 {
        font-size: 30px;
        color: white;
        text-align: center;
        justify-content: center;

    }

    .banner-button {
        margin: 0;
        font-size: 10px;
    }

    .article h4 {
        font-size: 15px;
    }

    .banner-form {
        margin-left: 20px;
        margin-bottom: 40px;
        
    }
}