.notfound{
    width: 100%;
    height: 100vh;
    /* background: #cfc8c5; */
    align-items: center;
    justify-content: center;
}

.notfound img{
    margin-top: 90px;
    margin-left: 600px;
    
}
@media (max-width: 780px){
    .notfound img{
        margin-left: 150px;
    }
}